/* GENERAL */
* {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}

/* STARTING MAIN PAGE */
#quiz_style_container {
    margin-top: 5vh;
    margin-right: 3vh;
    margin-left: 3vh;

    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.style_container {
    margin-top: 5vh;
    margin-right: 3vh;
    margin-left: 3vh;

    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin-top: 8vh;
    margin-bottom: 3vh;
    text-decoration: 2px solid underline;
    text-underline-offset: 1rem;
}

.description {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style_start_btn_container {
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.style_start_btn {
    color: black;
    box-sizing: content-box;
    padding: 10px 2rem;
    background: white;
    border-radius: 5px;
    border-color: white;
}

.style_start_btn:hover {
    color: white;
    cursor: pointer;
    background: #1e1e1e;
}

/* QUESTION SECTIONS 1-5 */
#question_1 {
    display: none;
}
#question_2 {
    display: none;
}
#question_3 {
    display: none;
}
#question_4 {
    display: none;
}
#question_5 {
    display: none;
}
#end_screen {
    display: none;
    margin-top: 5vh;
    margin-right: 3vh;
    margin-left: 3vh;
    
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.style_question {
    margin-top: 3vh;
    font-size: 1.5rem;
}

.pos_answer_btns_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.style_answer_btn {
    box-sizing: content-box;
    padding: 2vh 30vh;
    color: black;
    background: white;
    border-color: white;
    border-radius: 15px;
}
.style_answer_btn:hover {
    color: white;
    cursor: pointer;
    background: #1e1e1e;
}



/* END SCREEN RESULTS & USER INPUT */

.title_end_screen {
    margin-top: 3vh;
    font-size: 1.5rem;
}

.addBtn {
    padding: 8px 15px;
    background-color: white;
    color: black;
    cursor: pointer;
    
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
}

.addBtn:hover {
    background-color: #1e1e1e;
    color: white;
    border-color: white;
}

.style_input_bar {
    background-color: white;
    color: darkslategrey;
    padding: 10px 75px;
    border-radius: 5px;
}


/* END SCREEN LEADERBOARD */
#style_leaderboard_container {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
}

.leaderboard_btns {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#restart_btn,
#clear_btn {
    padding: 8px 15px;
    background-color: white;
    color: black;
    cursor: pointer;
    
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
}

#restart_btn:hover,
#clear_btn:hover {
    background-color: #1e1e1e;
    color: white;
    border-color: white;
}


/* SCORE & TIMER DISPLAY */
.score {
    display: flex;
    justify-content: center;
}
#timer {
    display: none;
    justify-content: center;
    margin-top: 3vh;
    font-size: 3rem;
}